body {
  overflow-x: hidden;
}
.navbar-default {
  background-color: rgb(232, 120, 57);
  position: fixed;
  width: 100%;
  z-index: 2000;
}
.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  padding-right: 20px;
  font-size: 1.10em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  font-weight: bolder;
  background-color:rgb(249, 90, 0);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.dashboard-link {
  padding-bottom: 10px;
  padding-top: 10px;
}

.panel-blue {
  background-color: rgb(10, 145, 242);
}

.panel-green {
  background-color: rgb(64, 181, 23);
}

.panel-yellow {
  background-color: rgb(242, 219, 10);
}

.panel-red {
  background-color: rgb(214, 27, 49);
}


/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-blue {
    border-color: #0f9cec;
}

.panel-blue > .panel-heading {
    border-color: #0f9cec;
    color: #fff;
    background-color: #0f9cec;
}

.panel-blue > a {
    color: #0f9cec;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
.panel-name{
  font-size: 1.1em;
}

@media(min-width:1081px) {
  .resize-button {
    visibility: visible;
    display:block;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .resize-button {
    visibility: hidden;
    display:block;
  }
  .nav-title{
    visibility: hidden;
    display: none;
  }
}

@media(max-width:767px) {
  .nav-title{
    visibility: hidden;
    display: none;
  }
}
